body {
    font-family: 'Computer Modern', serif;
    font-size: 115%;
    background-color: #ffffff;
    
}

.container {
    margin-right: 30%;
    margin-left: 25%;
    line-height: 1.9;
}

.footer
{
    text-align: right;
    font-style: italic;
    padding-bottom: 10%;
}
