body {
    font-family: 'Computer Modern', serif;
    font-size: 20px;
    background-color: #ffffff;
    
}

.container {
    margin-right: 550px;
    margin-left: 550px;
    line-height: 1.9;
}

.footer
{
    text-align: right;
    font-style: italic;
    padding-bottom: 75px;
}
